*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', 'sans-serif';
}
header {
    background: url('img/background_v_1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: rgba(0,0,0,.5);
    background-blend-mode: multiply;
  
    font-size: 64px;
    height: 540px;
    position: relative;
}
.fixed-container {
	width: 100%;
	margin: 0;
	position: relative;
}
.logo {
    padding-left: 50px;
    height: 150px;
    width: 500px;
    position: absolute;
    color: #DAA520;
}
.menu-container {
    padding-top: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    .menu-nav ul li{
        display: inline-block;
        padding-right: 25px;
        margin: 0;
	    list-style: none;
    }
.header-link {
    font-size: 20px;
    color: #DAA520;  
    text-decoration: none;              
    }

.registration-container {
    padding-right:  50px;
    padding-top: 20px;

    display: flex;
    justify-content: right;
    position: relative;
}
    .reg-nav ul li {
        padding: 5px 10px;
        display: inline;
        list-style: none;
    }

.info {
    margin-top: 50px;
    width: 100%;
    align-items: center;
}
    .info-section {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 50%;
        padding: 20px 20px 50% 20px;
        color: #fff;
    }

    .info-section h1 {
        font-size: 40px;
        text-align: center;
        margin-bottom: 25px;
    }

    .info-section p {
        line-height: 24px;
        font-size: 24px;
        text-align: justify;
        
    }
    
@media(max-width: 700px){
    .info-section h1 {
        font-size: 20px;
    }    
}

.fragrance-types {
    position: relative; 

}





