html,body {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	font-family: arial;
	overflow-x: hidden;
    height: 100%;
}
#logo {
    height: 150px;
    width: 500px;
    position: fixed;
}
h2 {
	font-size: 20px;
	padding: 27px 0 27px 18px;
	margin: 0;
	border-bottom: 1px solid #e5e5e5;
}
h1 {
	font-size: 16px;
}
header {
    height: 150px;
    box-shadow: 0 10px 10px 10px #f0f0f0; 
    background-color: #21211e;
    position:relative;
}
main {
    padding-top: 20px;
    padding-bottom: 0px;
}
footer {
    margin-top: 1360px;
    width: 100%;
    left: 0;
    bottom: 0;
} 
#black-bar {
    background-color: #00122f;
    color: #fff; 
    padding: 20px 0;
}
#black-bar a {
    color: #fff;
}
.fixed-container {
	width: 960px;
	margin: 0;
	position: relative;
}
#datetime {
	float: right;
}
#header {
	height: 50px;
}
#logo {
	position: fixed;
}
#city {
    padding-left: 300px;
    top: 0px;  
}
    .select-wrapper {
        font-size: 0;
        display: inline-block;
        position: absolute; 
        color: #000;
    }

    .select-wrapper::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 15px;
        height: 1px;
        border-bottom: 2px dashed #448ccb;
    }

    .custom-select {
        display: inline-block;
        border: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-size: 16px;
        padding-right: 15px;
        background: url('img/arrow.png') 100% no-repeat;
        background-size: 10px 5px;
    }
/*.datetime{
    margin-left: 35px;
    vertical-align: middle;
    display: inline-block;  
    color: #91919f;
}
.time {
    vertical-align: middle;
    display: inline-block;
    margin-left: 31px;
    padding-left: 25px;
    color: #91919f;
}*/
#weather {
    padding-left: 900px;
}
    .weather {
        position: absolute;
        padding-left: 40px;
        background-image: url('img/weather.png');
        background-position:  left center;
        display: inline-block;
        background-repeat: no-repeat;
    }
.form {
    position: relative;
    float: right;
    padding-left: 2px;       
}
    #search {
	    float: right;
        top: 30%;
        transform: translateY(-30%);
        width: 250px;
        height: 40px;
        padding-left: 10px;
        background-color: #f3f3f3;
        border-radius: 25px;
        border: none;
	}
        .search-button {
            position: absolute;
            top: 30%;
            transform: translateY(-30%);
            right: 10px;
            width: 30px;
            height: 30px;
            background-image: url('img/magnifier.png');
            background-size: 70%;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            cursor: pointer;
        }
#menu-container {
	height: 70px;
    width: 1000px;
	padding-top: 50px;
	overflow: hidden;
    padding-left: 550px;
    position: absolute;
}
    .nav {
    	letter-spacing: -0.32px;	
    }
    .menu-ul {
        padding: 0;
	    margin-top: 0;
	    list-style: none;
    }
    .menu-inline {
    	position: relative;
        display: inline-block;
        margin-right: 50px;
        font-size: 17px;
    }
        .menu-inline:not(:last-child)::after {
	        position: absolute;
	        right: -25px;
	        color: white;
        }
        .header-link {
            font-size: large;
        	color: #ac9437;  
            text-decoration: none;              
        }

#registration-container {
    height: 70px;
    width: 1000px;
	padding-top: 50px;
	overflow: hidden;
    padding-left: 1300px;
    position: absolute;
}
    .reg-ul {
        padding: 0;
	    margin-top: 16px;
	    list-style: none;
    }
    .reg-inline {
        position: relative;
        display: inline-block;
        margin-right: 11px;
        font-size: 17px;
    }
        .reg-inline:not(:last-child)::after {
            content: '/';
            position: absolute;
            right: -10px;
            color: black;
        }


#central-container {
    background-color: #f8f8f8;
}
#colum-left {
	background-color: #fff;
	width: 250px;
	float: left;
}
#news-item-ul {
    padding-left: 19px;
    padding-top: 0;
    padding-bottom: 20px;
    margin-top: 0;
}
.text {
	color: #000;
    text-decoration: none;
}
    .news-item {
        list-style: none; 
        letter-spacing: -0.4px;   
    }
        .news-item-text {
	        margin-bottom: 20px;;
	        padding-top: 20px;
        }
        .news-item-text-h5 {
            width: 210px;
            font-size: 12px;
        }
        .news-item-props {
	        font-size: 12px;
	        position: relative;
        }        
            .news-item-props a {
	            color: #91919f;
                text-decoration: none
            }
                .news-time {
                	position: absolute;
                	top: 0;
                	left: 120px;
                	padding-left: 15px;
                	background-image: url('img/icon-time.png');
                	background-repeat: no-repeat;
                }
                .news-comments-count {
                	position: absolute;
                	top: 0;
                	left: 180px;
                	padding-left: 15px;
                	background-image: url('img/icon-comments.png');
                	background-repeat: no-repeat;
                }
                #allnews {
                    border: 1px;
                    border-style: solid;
                    border-radius: 25px;
                    color: #448ccb;
                    margin-left: 40px; 
                    width: 190px;
                    height: 35px;
                    padding-top: 15px;
                }
                #allnews a {
                    color: #448ccb;
                    font-size: 17px;
                    padding-left: 45px;
                }
#colum-centre {
    width: 420px;
    margin-left: 20px;
    float: left;
}
    .block {
        width: 420px;
        height: 320px;
        position: absolute;
        margin-left: 270px;
        float: left;
    }
        .block img {
            position: absolute;
            left: 0;
            top: 0;
            width: 420px;
            height: 320px;
            object-fit: cover;
        }

        #text-1 {
            position: relative;
            min-height: 320px;
            color: #fff;
            padding: 20px;
            padding-top: 95px;
        }

            #category-1 {
                display: inline-block;
                margin-top: 30px;
                color: #f7f8fa;
                font-size: 12px;
            }

            .title {
                margin-top: 25px;
                font-size: 30px;
                margin-bottom: 15px;
            }


            .props {
                margin-top: 10px;
            }

            #date-1 {
                display: inline-block;
                font-size: 12px;
            }

            #time-1 {
                display: inline-block;
                padding-left: 15px;
                margin-left: 30px;
                font-size: 12px;
                background-image: url('img/clock.png');
                background-repeat: no-repeat;
            }
    #news {
        width: 420px;
        margin: 0 auto;
        overflow: auto;
        float: left;
        padding-top: 340px;
        padding-left: 20px;
    }
    .news-item-photo {
        float: left;
        width: 200px;
        margin-right: 20px;
        margin-bottom: 20px; 
    }
    .news-item-photo:nth-child(2n) {
        margin-right: 0;
    }
    .news-item-photo img {
        width: 100%;
        height: 142px;
        object-fit: cover;
    }
    .org {
        margin: 0;
        padding: 0;
        color: #000000;
        font-family: Arial;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.28px;
        font-weight: bold;
    }
    .category {
        display: inline-block;
        color: #a9a9b3;
        text-decoration: none;
        font-size: 12px;
    }
    .news-item__props {
        font-family: Arial;
        margin-top: 10px;
    }  
    .time {
        display: inline-block;
        font-size: 12px;
        background-image: url('img/icon-time.png');
        background-repeat: no-repeat;
        padding-left: 15px;
    }
    .comments {
        display: inline-block;
        font-size: 12px;
        background-image: url('img/icon-comments.png');
        background-repeat: no-repeat;
        padding-left: 15px;
    }
    
#cental-container .fixed-container {
	overflow-y: hidden; 
}
#colum-right {
	width: 250px;
    float: right;
}
    #colum-right img {
        display: inline-block;
        padding-bottom: 20px; 
    }
#bottom-left {
    position: absolute;
    width: 960px;
    height: 400px;
    margin-top: 885px;
}
    #bottom-img-news img {
        position: absolute;
        float: left;
        width: 550px;
        height: 400px;
    }
    #text-2 {
        position: relative;
        width: 450px;
        padding-top: 100px;
        padding-left: 20px;
    }
        #text-2 a {
            margin-top: 110px;
            color: #d3d3d3;
            font-size: 12px;
        }
        #special-news {
            color: #fff;
            margin-top: 25px;
            font-size: 30px;
            margin-bottom: 10px;
        } 
            #date-2 {
                color: #fff;
                font-size: 12px;
                margin-right: 20px;
            }
            #time-2 {
                color: #fff;
                font-size: 12px;
                background-image: url('img/time-truck.png');
                background-repeat: no-repeat;
                padding-left: 15px;
                }
        #additional-materials {
            color: #a9aaae;
            font-size: 13px;
            padding-top: 20px;
        }
#bottom-right {
    float: right;
    margin-left: 550px;
    position: absolute;
    margin-top: 885px;
    width: 410px;
    height: 400px;
}
    #colum-bottom {
        background-color: #fff;
    }
    #special-news-item-ul {
        padding-left: 19px;
        padding-top: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
        .special-news-item {
            list-style: none; 
            letter-spacing: -0.4px;   
        }
        .special-news-item-text {
            margin-bottom: 20px;
        }
        .special-news-item-text-h5 {
            font-size: 14px;
            width: 360px;
        }
        .special-text {
            color: #000;
            text-decoration: none;
        }
        .special-news-item-props {
           font-size: 12px;
           position: relative; 
        }
        .special-news-item-props a {
            color: #c3c3ca;
            text-decoration: none
        }
#footer {
    background-color: #00122f;
    height: 340px;
}
    #footer-ul {
        columns: 2;
        width: 200px;
        padding-top: 60px;
        padding-left: 0;
        column-gap: 60px;
    }

        .footer-li {
            list-style: none; 
            margin-bottom: 20px;
        }
            .footer-li a {
                color: #fff;
                text-decoration: none;
                font-size: 17px;
            }
#footer-colum-left {
    float: left;
    width: 235px;
}
#info {
    position: absolute;
    width: 160px;
    height: 140px;
}
#info img {
    margin-top: 60px;
    margin-left: 390px;
}
#info-ul {
    padding-left: 390px;
}
    .website-info {
        list-style: none; 
        padding-bottom: 20px;
    }
        .website-info a {
            text-decoration: none;
            font-size: 15px;
            color: #fff;
            width: 200px;
            display: inline-block;
        }
#contacts {
    float: right;
    position: absolute;
}
#cotial-sites {
    margin-top: 60px;
    margin-left: 678px;
}
#cotial-sites-ul {
    list-style: none;
}
    #cotial-sites li {
        display: inline-block;
    }
    #a-1 {
        display: block;
        background-image: url('img/vk.png');
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
    }
    #a-2 {
        display: block;
        background-image: url('img/facebook.png'); 
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        }
    #a-3 {
        display: block;
        background-image: url('img/twitter.png');
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
    }
    #a-4 {
        display: block;
        background-image: url('img/inst.png');
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
    }
#contacts-phone-letter {
    margin-top: 30px;
    margin-left: 678px;
}
#contacts-li-phone {
    list-style: none;
    padding-bottom: 30px;
    background-image: url('img/phone.png');
    background-repeat: no-repeat;
    padding-left: 34px;
}
#contacts-li-letter {
    list-style: none; 
    background-image: url('img/letter.png');
    background-repeat: no-repeat;
    padding-left: 34px;
}
#contacts-li-phone a {
    text-decoration: none;
    font-size: 15px; 
    color: #fff;
}
#contacts-li-letter a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}
#patent {
    color: #545b69;
    font-size: 12px;
    padding-top: 20px; 
    background-color: #00122f;
    height: 30px;
    position: absolute;
    border-top: 1px solid #26354e;
    margin-top: 285px;
    width: 10000px;
    padding-left: 630px;
}
#fixed-container {
    width: 10000px;
    margin: 0 auto;
    position: relative;
}